<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %>
    <!-- Script normalizr -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script> -->
    <!-- Script toastify -->
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    /> -->
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <%- include('./partials/nav') %>

    <main id="main">
      <div
        id="root"
        data-user="<%= JSON.stringify(userName) %>"
        data-admin="<%= JSON.stringify(userData.admin) %>"
      ></div>
      <!-- <%- include('./partials/cards') %> -->
      <%- include('./partials/messages') %>
    </main>

    <!-- Script toastify
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/toastify-js"
    ></script> -->
    <!-- React CDN -->
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <!-- Babel para JSX -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    <!-- App -->
    <script type="text/babel" src="/views/components/Home/Home.jsx"></script>
    <script type="text/babel" src="/views/components/Main.js"></script>
    <!-- <script src="/js/main.js"></script> -->
    <script src="/js/socketLogic.js"></script>
  </body>
</html>
