
<!DOCTYPE html>
<html lang="es">

    <head>
        <%- include('./partials/head') %>

        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    </head>

    <body>

        <h2 class="formTitle">Mis datos</h2>

        <form id='userDataForm' autocomplete="off">
            <label class="userName" for="userName"><span class="labelTitle">Mi email</span>
                <input id='userName' class="userNameInput" name='username' type="email" value="<%= userData.user %>" disabled>
                <input id='_id' type="hidden" value="<%= userData._id %>" name="_id">
            </label>
            <label class="userName" for="nameLastname"><span class="labelTitle">Mi nombre y apellido</span>
                <input id='nameLastname' class="userNameInput" name='nameLastname' type="text" value="<%= userData.name %>">
            </label>
            <label class="userName" for="direccion"><span class="labelTitle">Mi dirección</span>
                <input id='direccion' class="userNameInput" name='address' type="text" value="<%= userData.address %>">
            </label>
            <label class="userName" for="age"><span class="labelTitle">Mi edad</span>
                <input id='age' class="userNameInput" name='age' type="number" value="<%= userData.age %>">
            </label>
            <label class="userName" for="phone"><span class="labelTitle">Mi teléfono</span>
                <input id='phone' class="userNameInput" name='phone' type="text" value="<%= userData.phone %>">
            </label>
            <label class="userName" for="avatar"><span class="labelTitle">Mi foto/Avatar</span>
                <input id='avatar' class="userNameInput" name='avatar' type="url" value="<%= userData.avatar %>">
            </label>
            <button class="regBtn" type="submit">Guardar</button>
        </form>

        <button id="passChangeBtn" class="regBtn">Cambiar mi contraseña</button>
        <form id="passForm" autocomplete="off">
            <div id="passContainer">
                <label class="userName" for="userPass"><span class="labelTitle">Contraseña actual</span>
                    <input id='actualUserPass' class="userPassInput" name='password' type="password" required>
                </label>
                <label class="userName" for="userPass"><span class="labelTitle">Nueva contraseña</span>
                    <input id='userPass' class="userPassInput" name='newPassword' type="password" required>
                </label>
                <label class="userName" for="userPass"><span class="labelTitle">Reingrese contraseña</span>
                    <input id='userPassCheck' class="userPassInput" name='checkPassword' type="password" required>
                </label>
                <p id="errorPassCheck">LA CONTRASEÑA Y EL REINGRESO NO COINCIDEN, POR FAVOR VERIFICAR</p>
            </div>
            <button id='sendBtn' class="regBtn" type="submit" disabled>Cambiar</button>
        </form>

        <a class='formBackLink' href="/api/productos"><button class="formBackLinkBtn">Volver</button></a>

        <script src="/js/userData.js"></script>
        <script src="/js/passwordCheck.js"></script>
        <script src=" https://cdn.jsdelivr.net/npm/bcryptjs@2.4.3/dist/bcrypt.min.js "></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script>

        </script>


    </body>

</html>