
<!DOCTYPE html>
<html lang="es">

    <head>
        <%- include('head') %>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    </head>

    <body>
    <div id="app-root">

        <%- include('navMin') %>

        <h2 class="usersFormTitle">Administración de usuarios</h2>

        <form id='usersForm'>

            <input 
                id="userSearch"
                class="form-control mb-3"
                placeholder="Buscar usuario..."
            >

<div class="usersAdminContainer">

<table class="table table-hover usersAdminTable align-middle">

<thead>
<tr>
<th>Email</th>
<th style="width:220px;">Rol</th>
<th class="text-end">Acciones</th>
</tr>
</thead>

<tbody>

<% users.forEach(function(user){ %>

<tr data-id="<%= user.id %>">

<td class="usersEmail">
<%= user.email %>
</td>

<td>

<select class="form-select form-select-sm roleSelect">

<% roles.forEach(function(role){ %>

<option 
value="<%= role.id %>"
<%= role.name === user.role ? "selected" : "" %>
>
<%= role.name %>
</option>

<% }) %>

</select>

</td>

<td class="text-end">

<button class="btn btn-outline-danger btn-sm deleteUserBtn">
Eliminar
</button>

</td>

</tr>

<% }) %>

</tbody>
</table>

</div>

            <button class="sendBtn sendBtnUsersAdmin" type="submit">Enviar</button>
            <a class='formBackLink usersAdminBackBtn' href="/api/productos"><button class="formBackLinkBtn">Volver</button></a>


        </form>


        <%- include('footer') %>

        </div>
        <script src="../../js/usersAdmin.js"></script>
        <script src="../../js/toast.js"></script>
        <script src="../../js/pageAnimation.js"></script>
        <script src="/js/confirm-modal.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    </body>

</html>